.card {
  background: #BDC3C7; 
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  padding: 1rem 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.title {
  display: flex;
  align-items: center;
  width: 32%;
}

.img {
  border-radius: 10px;
  height: 100px;
  box-shadow: 0 5px 15px #0000001a;
}

span {
  color: #E74C3C; 
  font-weight: bold;
}

h3 {
  color: #2C3E50; 
  font-weight: lighter;
}

.lesson {
  margin-left: 0.5rem;
}

button {
  background-color: #E74C3C; 
  padding: 0.5rem;
  color: white;
  width: 150px;
  border-radius: 1rem;
  font-family: "Noto Sans Kawi", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #C0392B;
  transform: scale(1.05); 
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .title {
    width: 48%;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    gap: 2rem;
  }
  .title {
    display: grid;
    justify-items: center;
    width: 100%;
  }
}
