.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2.5rem;
  margin: 10px;
}

.title {
  display: flex;
  align-items: center;
  width: 350px;
}

.img {
  border-radius: 15px;
  height: 100px;
  box-shadow: 0 5px 15px #0000001a;
}

span {
  color: #f4a460;
  font-weight: bold;
}

h3 {
  color: white;
  font-weight: lighter;
}

.lesson {
  margin-left: 10px;
}
