@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi&family=Nova+Square&display=swap");

body {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: "Nova Square", sans-serif;
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
  color: #34495e;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
